@model MvcAppli1_V4.Models.Employee

@{
    ViewBag.Title = "Employee Details";
}

<h2>Employee Details</h2>

<table style="font-family:Arial">
    <tr>
        <td>Employee Id:</td>
        <td>@Model.EmployeeId</td>
    </tr>
    @*<tr>
        <td>Employee Id:</td>
        <td>@Model.Id</td>
    </tr>*@
    <tr>
        <td>Employee Name:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Employee Gender:</td>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <td>Employee City:</td>
        <td>@Model.City</td>
    </tr>
</table>

@Html.ActionLink("Back to Employee List", "Index", new { departmentId = @Model.DepartmentId }) 